#box {
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    padding: 2.5rem;
    background-color: var(--grey-800);
    border-radius: 0.3rem;

    h1 {
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
    }

    .text {
        padding-top: 1rem;
        font-size: 0.8rem;
        color: var(--grey-500);
    }

    .error {
        display: block;
        margin-top: 1rem;
        margin-bottom: -1.5rem;
        font-size: 0.8rem;
        color: var(--error);
    }

    .input-box {
        position: relative;
        width: 100%;
        padding-top: 2rem;

        input,
        select {
            width: 100%;
            padding: 0.5rem;
            font-size: 0.8rem;
            color: var(--grey-0);
            border: 1px solid var(--grey-200);
            border-radius: 4px;
            background: transparent;
        }

        input[type="file"] {
            position: absolute;
            max-height: 0;
            max-width: 0;
            opacity: 0;
            margin: 0;
            padding: 0;
        }

        .file {
            display: flex;
            width: 100%;
            aspect-ratio: 21/9;
            padding: 0.5rem;
            font-size: 0.8rem;
            color: var(--grey-0);
            border: 1px solid var(--grey-200);
            border-radius: 4px;
            background: transparent;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            h6 {
                font-size: 0.8rem;
            }

            p {
                font-size: 0.7rem;
                color: var(--grey-200);
            }
        }

        input:focus {
            outline: var(--info) solid 3px;
            border-color: transparent;
        }

        input:focus~.placeholder,
        input:not([value=""])~.placeholder {
            top: 1.6rem;
            padding: 0 0.2rem;
            margin-left: 0.5rem;
            font-size: 0.6rem;
            color: var(--info);
            background-color: var(--grey-800);
        }

        input:not(:focus, [value=""])~.placeholder {
            color: var(--grey-200);
        }

        input:invalid:not([value=""], :focus) {
            outline: var(--error) solid 3px;
            border-color: transparent;
        }

        input:invalid:not([value=""], :focus)~.error {
            display: inline;
        }

        .indicator {
            position: absolute;
            top: 1.6rem;
            left: 0.5rem;
            padding: 0 0.2rem;
            margin-left: 0.5rem;
            font-size: 0.6rem;
            color: var(--grey-200);
            background-color: var(--grey-800);
            pointer-events: none;
        }

        .placeholder {
            position: absolute;
            top: 2.15rem;
            left: 0.5rem;
            padding: 0.5rem 0 0;
            font-size: 0.8rem;
            color: var(--grey-500);
            pointer-events: none;
            transition: 0.1s;
        }

        .error {
            display: none;
            font-size: 0.8rem;
            color: var(--error);
        }
    }

    .remember {
        margin-top: 0.5rem;
        font-size: 0.8rem;

        label {
            padding-left: 0.5rem;
            align-self: center;
            cursor: pointer;
        }
    }

    input[type="submit"] {
        border: none;
        outline: none;
        padding: 0.4rem 0.7rem;
        margin: 1rem 0;
        font-size: 1rem;
        font-weight: 850;
        color: var(--grey-1000);
        background-color: var(--info);
        cursor: pointer;
        border-radius: 5px;
        float: right;
    }

    input[type="checkbox"] {
        cursor: pointer;
    }

    .link {
        align-self: center;
        font-size: 1rem;
        font-weight: 500;
        color: var(--info);
    }
}