#welcome {
    padding: 7rem 3rem 0;
    text-align: center;
}

#welcome h1 {
    font-size: 4rem;
}

#welcome p {
    margin: auto;
    margin-top: 1rem;
    max-width: 100ch;
}

#potd {
    margin: 10rem 3rem 8rem;
}

#potd h2 {
    font-size: 4rem;
}

#potd p {
    margin-top: 1rem;
    max-width: 80ch;
}