#leaderboard {
    padding-top: 2rem;
    font-size: 1.5rem;

    details {
        z-index: 1;
        margin: 2rem;
        margin-right: 0;
        width: 8rem;
        overflow: hidden;
        display: block;
        position: relative;
        font-size: 1rem;
        font-weight: 600;

        summary {
            display: block;

            span {
                position: relative;
                display: flex;
                align-items: center;
                height: 1.5rem;
            }

            span:hover {
                cursor: pointer;
            }

            span::before {
                content: "›";
                font-size: 1.5rem;
                font-weight: 700;
                display: block;
                align-items: center;
                margin-top: -0.2rem;
                margin-right: 0.4rem;
                transition: rotate 400ms ease-out, margin 400ms ease-out;
            }
        }

        summary::-webkit-details-marker,
        summary::marker {
            display: none;
        }
    }

    details[open] span::before {
        margin-left: 0.1rem;
        margin-right: 0.3rem;
        margin-top: 0;
        rotate: 90deg;
    }

    >div.content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 400ms ease-out;
    }

    details[open]~div.content {
        max-height: 10rem;
        transition: max-height 400ms ease-out;
    }

    @keyframes widen {
        to {
            padding-left: 0;
        }
    }

    #lb_header {
        top: 3rem;
        margin-top: -4.3rem;
        padding-left: 6rem;
        z-index: 0;
        background-color: var(--grey-900);
        animation: widen 200s linear infinite;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
        animation-iteration-count: 1;
        animation-fill-mode: both;

        nav.split-row-nav {
            background-color: inherit;
            color: inherit;

            [aria-current="page"]>span {
                border-bottom: 3px solid var(--grey-200);
            }
        }
    }

    #lb {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(600, 1fr));
        margin: 2rem;
        gap: 1rem;

        .lb_entry {
            padding: 1rem;
            padding-top: 0.5rem;
            background-color: var(--grey-800);
            border-radius: 0.2rem;

            .header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 0.2rem;

                * {
                    text-wrap: nowrap;
                }

                h2 {
                    font-size: 1.2rem;
                    color: var(--primary-400);
                    margin-right: 2rem;
                }

                h5 {
                    align-self: flex-end;
                    font-size: 0.85rem;
                    color: var(--primary-200);
                }

                h5:not(:last-child) {
                    width: 100%;
                    text-align: end;
                    overflow-x: hidden;
                }

                h5:last-child {
                    margin-left: 1rem;
                    text-align: end;
                }
            }

            .content {
                display: flex;
                flex-direction: row;
                width: 100%;

                img {
                    flex-shrink: 0;
                    width: 60%;
                    aspect-ratio: 16/9;
                    border-radius: 0.2rem;
                }

                .lb_entry_ranks {
                    padding-left: 1rem;
                    width: 40%;
                    font-size: 0.75rem;
                    color: var(--grey-0);

                    .lb_entry_rank {
                        margin: 0.2rem 0;
                        display: flex;

                        span:not(:first-child) {
                            margin-left: 0.5rem;
                        }

                        span:not(:last-child, :first-child) {
                            text-wrap: nowrap;
                            overflow-x: hidden;
                        }

                        span:last-child {
                            flex-grow: 1;
                            font-size: 0.65rem;
                            text-align: end;
                            text-wrap: nowrap;
                            align-self: flex-end;
                            color: var(--primary-100);
                        }
                    }
                }
            }
        }
    }
}