#profile {
    margin: 2rem;

    .row {
        justify-content: left;
        align-items: start;
    }

    h1 {
        display: block;
        margin: auto;
        margin-bottom: 1rem;
        text-align: center;
    }

    .avatar {
        float: left;
        width: 25ch;
        aspect-ratio: 1;
        border-radius: 50%;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
}

#manage-runs {
    margin: 2rem;

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 1rem;

        .body {
            grid-column: 1 / 8;
        }

        a {
            color: var(--info);
        }
    }
}