#faq {
    margin: 2rem;
    margin-left: max(0.5rem, 15vw + min(85vw - 100ch, 0px));
    max-width: 120ch;
    font-size: 1rem;

    hr {
        width: 100%;
        height: 1px;
        background-color: var(--grey-500);
    }

    h1 {
        margin-top: 4rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    h5 {
        margin-bottom: 0.5rem;
        color: var(--grey-300);
        font-size: 0.9rem;
        font-weight: 800;
    }

    ul {
        margin-top: 0.2rem;
        margin-bottom: 0.5rem;

        li {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            font-size: 0.95rem;
            font-weight: 300;
        }
    }

    div.spacing {
        margin-top: 1.5rem;
    }

    details {
        &[open] {
            border-bottom: 2px solid var(--primary-300);

            span.icon::before {
                transform: rotate(90deg) scaleY(2);
            }
        }

        summary {
            height: 3rem;
            width: 100%;
            justify-content: start;
            align-items: center;

            span.icon {
                font-weight: 700;

                &::before {
                    margin-left: 0.5rem;
                    margin-right: 1rem;
                    content: ">";
                    transform: rotate(0) scaleY(2);
                    font-weight: 150;
                }
            }
        }
    }

    div.content {
        margin-top: 0;
        margin-bottom: 0;
    }

    details[open]~div.content {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}