#leaderboard {
    padding-top: 2rem;
    font-size: 1.5rem;

    details {
        width: fit-content;
        max-width: 10ch;
        margin-top: -2.2rem;
        margin-left: 2rem;
        font-size: 1rem;
        font-weight: 600;

        summary {
            padding: 0 0.5rem;
            gap: 0;
            color: var(--primary-100);
            font-size: 0.7rem;
            font-weight: 900;
            text-transform: uppercase;
            border-radius: 4px;
            background-color: var(--grey-700);

            span.icon {
                height: 2rem;
            }

            span.icon::before {
                margin-top: 0;
                margin-left: 0.8rem;
                margin-right: 0.2rem;
                color: var(--primary-300);
                font-size: 2rem;
                font-weight: 700;
                line-height: 1;
            }
        }
    }

    details[open] span.icon::before {
        transform: rotate(90deg) scaleX(-1);
    }

    details~div.content {
        margin: 0.5rem 2rem;

        .group {
            margin-bottom: 1rem;

            h6 {
                font-size: 0.6rem;
                color: var(--grey-200);
                margin-bottom: 0.5rem;
            }

            .options {
                display: flex;
                flex-wrap: wrap;
                font-size: 0.8rem;
                color: var(--grey-0);

                input[type="radio"] {
                    position: fixed;
                    opacity: 0;
                }

                >* {
                    margin-right: 1.5rem;
                    border-radius: 4px;
                    padding: 0.1rem 0.3rem 0.2rem;
                    color: var(--grey-0);
                    cursor: pointer;
                }

                :checked+*,
                [aria-current="page"] {
                    background-color: var(--primary-900);
                }
            }
        }
    }

    .video {
        position: relative;
        display: flex;
        flex-shrink: 0;
        width: 60%;
        aspect-ratio: 16/9;

        iframe {
            width: 100%;
        }

        .no-vid {
            background-color: var(--black);
            opacity: 0.5;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0.2rem;
            }
        }

        .buttons {
            z-index: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            line-height: 0.5;

            .play-wrapper {
                display: inline-block;
                min-width: 4rem;
                min-height: 4rem;
                max-width: 4rem;
                max-height: 4rem;
                background-color: var(--grey-1000);
                border-width: 0;
                border-radius: 50%;
                cursor: pointer;

                div {
                    mask: url(/play-button.svg) no-repeat center / 1.5rem;
                    margin-top: -0.05rem;
                    margin-left: 0.15rem;
                    min-width: 4rem;
                    min-height: 4rem;
                    background-color: var(--grey-0);
                }
            }

            .external {
                font-size: 1rem;
                font-weight: 500;
                color: inherit;
            }
        }
    }


    @keyframes widen {
        to {
            margin-left: 2rem;
        }
    }

    #lb_header {
        top: 2.5rem;
        z-index: 98;
        margin-top: 1.7rem;
        margin-left: 10rem;
        margin-right: 2rem;
        color: inherit;
        background-color: var(--grey-900);
        animation: widen 65s linear infinite;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
        animation-iteration-count: 1;
        animation-fill-mode: both;

        .nav {
            min-height: 2.5rem;

            [aria-current="page"]>span {
                border-bottom: 3px solid var(--primary-200);
            }
        }
    }

    #lb {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
        margin: 2rem;
        gap: 1rem;

        .lb_entry {
            padding: 1rem;
            padding-top: 0.5rem;
            background-color: var(--grey-800);
            border-radius: 0.2rem;

            .header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 0.2rem;
                align-items: end;

                * {
                    text-wrap: nowrap;
                }

                h2 {
                    font-size: 1.2rem;
                    color: var(--primary-400);
                    margin-right: 2rem;
                }

                h5 {
                    align-self: flex-end;
                    font-size: 0.85rem;
                    color: var(--primary-200);
                }

                h5:not(:last-child) {
                    width: 100%;
                    text-align: end;
                    overflow-x: hidden;
                }

                h5:last-child {
                    margin-left: 1rem;
                    text-align: end;
                }
            }

            .content {
                display: flex;
                position: relative;
                flex-direction: row;
                width: 100%;

                .lb_entry_ranks {
                    padding-left: 1rem;
                    padding-right: 5px;
                    width: 40%;
                    min-height: 0;
                    aspect-ratio: 16/13.5;
                    font-size: 0.75rem;
                    color: var(--grey-0);
                    overflow-y: auto;
                    scrollbar-width: thin;
                    scrollbar-color: var(--grey-500);

                    a {
                        color: inherit;
                    }

                    .no-data {
                        display: block;
                        width: 100%;
                        text-align: center;
                    }

                    .lb_entry_rank:first-child {
                        padding-top: 0.2rem;
                    }

                    .lb_entry_rank:last-child {
                        padding-bottom: 0.2rem;
                    }

                    .lb_entry_rank {
                        padding: 0.5rem 0;
                        display: flex;
                        cursor: pointer;

                        span:not(.rank) {
                            margin-left: 0.5rem;
                        }

                        span.name {
                            text-wrap: nowrap;
                            overflow-x: hidden;
                        }

                        span.time {
                            flex-grow: 1;
                            font-size: 0.7rem;
                            text-align: end;
                            text-wrap: nowrap;
                            align-self: flex-end;
                            color: var(--primary-100);
                        }
                    }

                    .selected {
                        overflow: visible;
                        border-radius: 5px;
                        background-color: var(--grey-700);
                    }
                }
            }
        }
    }

    #map {
        margin: 1rem 2rem;

        #chart {
            margin: 1rem 0 3rem;
            width: 100%;
            height: 400px;

            .header {
                min-width: 15ch;
                margin-left: 0.2rem;
                font-size: 0.8rem;
                font-weight: 600;
                letter-spacing: 0.05ch;
            }

            .date {
                font-size: 0.6rem;
                margin-bottom: -0.4rem;
                color: var(--grey-500);
                text-align: center;
            }
        }

        h1 {
            text-align: center;
            color: var(--primary-50);
        }

        .map-entry {
            border-bottom: 2px solid var(--grey-700);

            details {
                width: 100%;
                max-width: 100%;
                margin: 0;
                z-index: 0;
            }

            summary {
                padding: 0.5rem 0;

                span.icon {
                    background-color: inherit;
                }

                span.icon::before {
                    margin-top: -0.2rem;
                    margin-left: 0.7rem;
                    content: "▶";
                    font-size: 1rem;
                    color: var(--grey-500);
                    transform: scaleX(0.75);
                }

                span:not(.icon) {
                    min-width: 12ch;
                }

                span.name {
                    text-align: center;
                }

                span.time {
                    text-align: end;
                }
            }

            .content {
                margin: 0;

                .run-data {
                    width: calc(40% - 1rem);
                    height: calc(0.6 * (100dvw - 4rem) * 9/16);

                    .grid {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr 1fr 1fr;
                        height: calc(100% - 0.8rem);

                        .entry {
                            margin-bottom: 1rem;
                            align-self: stretch;

                            h3 {
                                margin-bottom: 0.2rem;
                                font-size: 0.8rem;
                                color: var(--grey-200);
                                text-transform: uppercase;
                            }

                            p {
                                line-height: 1;
                                font-size: 1.2rem;
                                font-weight: 700;
                            }
                        }
                    }

                    .id {
                        color: var(--grey-200);
                        font-size: 0.8rem;
                        line-height: 1;
                        text-align: center;
                    }
                }
            }

            details[open]~.content {
                margin: 0 0 1rem;
            }

            details[open] span.icon::before {
                margin-top: 0rem;
                transform: rotate(90deg) scaleX(0.75);
            }
        }
    }
}