#profile {
    margin: 2rem;

    .row {
        justify-content: left;
        align-items: start;
    }

    h1 {
        display: block;
        margin: auto;
        margin-bottom: 1rem;
        text-align: center;
    }

    .avatar {
        float: left;
        width: 25ch;
        aspect-ratio: 1;
        border-radius: 50%;
        margin-right: 1rem;
        margin-bottom: 0.2rem;
    }

    p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        min-width: 60ch;
        max-width: 100ch;
        white-space: pre-line;
    }
}

#filter-list {
    details {
        margin-left: 2rem;
        margin-top: 2rem;
    }

    .grid {
        margin: 1rem 2rem;
        display: grid;
        gap: 0.5rem 1rem;
        align-items: center;

        .heading {
            color: var(--primary-200);
            font-size: 0.9rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        .last {
            justify-self: end;
        }

        .divider {
            grid-column: 1 / 9;
            background-color: var(--grey-500);
            height: 1px;

            &.header {
                height: 2px;
            }
        }
    }

    .pages {
        padding: 2rem;
        padding-top: 1rem;
        justify-content: center;
        gap: 0.2rem;

        >* {
            display: block;
            width: 2rem;
            height: 2rem;
            text-align: center;
            align-content: center;
            border-radius: 5px;
        }

        .arrow {
            font-size: 1.2rem;
            font-weight: 800;
            color: var(--primary-200);
            background-color: var(--grey-700);
        }

        .page {
            font-size: 1rem;
            font-weight: 700;
            color: var(--primary-300);
        }

        .disabled {
            cursor: default;
            color: var(--grey-300);
            background-color: inherit;
        }
    }

    #box {
        p {
            margin: 2rem 0;
            font-size: 0.9rem;
            text-align: center;
        }
    }

    &.manage {
        .grid {
            grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr 0.5fr 11ch 2rem;

            .delete {
                display: inline-block;
                cursor: pointer;

                div {
                    mask: url(/delete.svg) no-repeat center / contain;
                    width: 2rem;
                    height: 1.4rem;
                    background-color: var(--error);
                }
            }
        }
    }

    &.runs {
        .grid {
            grid-template-columns: 1fr 32ch 1fr 1fr 1fr 1.5fr 0.5fr 11ch;
        }
    }

    &.activity {
        .grid {
            grid-template-columns: 1fr 32ch 1fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr;

            .divider {
                grid-column: 1 / 10;
            }
        }
    }
}